@media print {

	@page {
		size: landscape;
	}

	html, body {
		margin: 0;
	}

	.ui {
		display: none;
	}
}

.imagePreview {
	width: 100%;
}

.photoCredit {
	font-style: italic;
	font-size: 0.8em;
}

#outputWrapper {
	position: relative;
	width: 100%;
}
